# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# --- Virtual environment ---
.venv/
env/
venv/

# --- Streamlit ---
.streamlit/

# --- Secrets / local configs ---
.env
*.env

# --- IDE / Editor ---
.vscode/
.idea/

# --- OS files ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log
